.title {
    text-align: center;
}

 /* .forLinks { 
    text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px; 
    
} */

.links {
    text-align: center;
   /*  border: dashed;
    height: 30px;
    width: 100%; */
}

a {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:inherit;
    color: inherit;
    word-spacing: 30px;
    color: coral;
    
}

hr {
    width: 100%;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

body {
    margin: 0 auto;
    max-width: 650px;
    min-height: 100vh;
}


.info {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.pct {
    margin: 0 100px;
    height: 300px;
    width: 500px;
}


/* .btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #f70505;
	border-radius: 50px;
	height: 90px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
    margin: 30px 250px;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}
.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
} */


.btn {
    /* background-color: #4CAF50; Green */
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 200px;
    width: 300px;
}





